.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffcc00;
    /* Yellow */
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: brown;
    /* Black */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #8b4513;
    /* Darker brown */
}

.form-group input,
.form-group select {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000;
}

button[type="submit"] {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #8b4513;
    /* Darker brown */
    color: #fff;
    /* White */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #654321;
    /* Dark brown */
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #000;
    /* Black */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}