.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f53c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.end {
    margin-left: 10px;
    position: absolute;
}